# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/test-config.local.ts
tests/testFiles/
/.DS_Store  
# Test data
tests/data/test.data.ts
# Test configs with sensitive data
tests/config/auth.config.ts

