# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/test-config.local.ts
.DS_Store  
# ignore Modified files in TestFiles
**/Modified/**
# Test configs with sensitive data
tests/config/auth.config.ts
storageState/

